

/* BUTTONS */

.blx-CTAButton {
  --buttonWidth: auto;
  --buttonPadding: calc(var(--spacing) * 3);
  --stateColorLight: var(--buttonHoverColor, var(--buttonBackgroundColor));

  max-width: var(--inputMaxWidth);

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font: var(--ctaFont);
  line-height: var(--buttonLineHeight);

  border-radius: var(--borderRadius);
  padding-inline: var(--buttonPadding);
  border: 2px solid;
  box-sizing: border-box;
  width: var(--buttonWidth);
  height: 3em;

  cursor: pointer;

  background-color: var(--buttonBackgroundColor);
  color: var(--buttonColor);
  border-color: var(--buttonBorderColor);
  white-space: nowrap;
  box-shadow: var(--shadowFocus);
  text-decoration: none;
}

.blx-CTAButton:hover {
  background-color: var(--buttonHoverBackgroundColor);
  border-color: var(--buttonHoverBackgroundColor);
  color: var(--buttonHoverColor);
}

.blx-CTAButton:disabled {
  --buttonBackgroundColor: var(--disabledColor);
  --buttonBorderColor: var(--disabledColor);
  --buttonHoverColor: var(--disabledColor);
  --buttonHoverTextColor: var(--surface1);
  --buttonColor: var(--surface1);

  cursor: not-allowed;
}

.blx-CTAButton:focus-visible {
  outline: none;
  --shadowFocus: 0 0 0 2px var(--buttonHoverColor, var(--buttonBackgroundColor));
}

.blx-CTAButton:active:focus {
  outline: none;
  box-shadow: none;
}

.blx-CTAButton:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

/* VARIANTS */

.blx-CTAButton.-full {
  --buttonWidth: 100%;
}

.blx-CTAButton.-slim {
  --buttonPadding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
}

.blx-CTAButton.-stealth {
  --buttonBackgroundColor: var(--surface1);
  --buttonColor: var(--text1);
  --buttonBorderColor: transparent;
  --buttonHoverColor: var(--text2);
  --buttonHoverBackgroundColor: var(--surface1);
}

.blx-CTAButton.-secondary {
  --buttonColor: var(--text1);
  --buttonBackgroundColor: var(--surface1);
  --buttonBorderColor: var(--text1);
  --buttonHoverColor: var(--surface-1);
  --buttonHoverBackgroundColor: var(--text2);
}

.blx-CTAButton.-icon {
  --buttonPadding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.blx-CTAButton.-withBoxedIcon {
  padding: 0;
  background: transparent;
  color: var(--text1);
  border-color: transparent;

  &:hover {
    color: var(--text2);
  }

  justify-content: flex-start;

  & > *:first-child {
    margin-right: calc(var(--spacing) * 2);
  }

}
/* END BUTTONS */