
.blx-Card {
  --cardSpacing-horizontal: var(--defaultPadding-horizontal);
  --cardSpacing-vertical:var(--defaultPadding-vertical);


  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-flat);

  padding-inline:  var(--cardSpacing-horizontal);
  padding-block: var(--cardSpacing-vertical);

  /* NOT SURE YET */
  background-color: var(--color-white);
  color: var(--color-purple-1);
  position: relative;
}

.blx-Card-status {
  position: absolute;
  top: 0;
  left: var(--cardSpacing-horizontal);
  border-radius: var(--borderRadius-small);
  font-size: var(--fontSize-tiny);
  transform: translateY(-50%);
  padding: calc(var(--spacing) * 0.5) var(--spacing);
}

/* TODO: Adjust this */
.blx-Card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
