.blx-SelectBox {

  width: 100%;
  padding: calc(var(--spacing) * 2);
  font: var(--bodyFont);
  color: var(--text1);

  background: var(--inputBackground);
  border: 1px solid var(--inputTextColorSecondary);
  border-radius: var(--borderRadius);

  &::placeholder {
    color: 1px solid var(--inputTextColorSecondary);
    opacity: 0.7;
  }

  &:focus-within {
    outline: none;
  }

  &.-open {
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    box-shadow: 0 0 0 1px var(--inputTextColor);
    border-color: var(--inputTextColor);
  }
}

.blx-DataList {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0;
  width: 100%;

  background: var(--inputBackground);
  border: 1px solid var(--inputTextColor);
  box-shadow: 0 0 0 1px var(--inputTextColor);
  border-top: none;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.blx-DataList-option {
  width: 100%;
  font: var(--bodyFont);
  color: var(--inputTextColor);
  padding: calc(var(--spacing) * 2);

  &.-selected {
    background-color: var(--text1);
    color: var(--surface2);
  }

  &.-active {
    background-color: var(--text2);
    color: var(--surface1);
  }

  &:hover {
    background-color: var(--text2);
    color: var(--surface1);
  }
}