.blx-Section {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.blx-LayoutContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--containerMaxWidth);
  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);
}

/* STACK */

.stack {
  --gap: calc(var(--spacing) * 2);
  display: grid;
  gap: var(--gap);
  justify-content: flex-start;
}

.stack-l {
  --gap: calc(var(--spacing) * 4);
}

/* BOX */

.box {
  padding: var(--contentPadding);
}

.flex-row-center {
  display: flex;
  align-items: center;
}

