.blx-Section {
  padding-block: var(--sectionPadding);
}

.blx-LayoutContainer {
  margin-inline: auto;
  width: 100%;
  max-width: var(--containerMaxWidth);
  padding-inline: var(--containerPadding);
}

/* STACK */
/* stack content vertically with spacing */
.stack {
  --gap: calc(var(--spacing) * 2);
  display: grid;
  gap: var(--gap);
  justify-content: flex-start;
}

.stack-l {
  --gap: calc(var(--spacing) * 4);
}

/* BOX */
/* boxed content, basically for every box element */
.box {
  padding: var(--contentPadding);
}


.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.with-sidebar {
  --gap: var(--s2);
  --minSize: 30rem;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  & [data-aside] {
    flex-grow: 1;
  }

  & [data-grow] {
    flex-basis: 0;
    flex-grow: 999;
    min-width: var(--minSize);
  }

}

.horizontally-centered {
  display: flex;
  align-items: center;
}

.align-right {
  margin-left: auto;
}

.align-left: {
  margin-right: auto;
}



.blx-iconText {
  display: flex;
  flex-direction: column;

  & > :first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & > :last-child {
    padding-left: 40px
  }

}