/* MODAL */

.blx-ModalContainer {

}

.blx-Modal__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--surface2);
}

.blx-Modal__content {
  width: 100%;
  max-width: 40rem;
  box-shadow: var(--shadow-stacked);
  background-color: var(--surface1);
  border-radius: var(--borderRadius);
  position: relative;
  display: flex;
  flex-direction: column;
}

.blx-Modal__title {
  padding-right: calc(var(--spacing) * 8);
  background-color: var(--surface2);
  width: 100%;
}

.blx-Modal__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: var(--defaultPadding-vertical);
  margin-right: var(--defaultPadding-horizontal);

  --buttonColor: var(--surface2);
  --knockoutColor: var(--text1);
  --buttonBorderColor: var(--text1);
  --buttonHoverColor: var(--text1);
  --buttonHoverTextColor: var(--surface2);
}
