:root {
  --fontFamily: 'Moderat', sans-serif;

  --fontWeight-bold: 700;
  --fontWeight-medium: 500;
  --fontWeight-light: 300;

  --fontSize-hero: clamp(2.25rem, 2.25rem + 1.25vw, 3.75rem);
  --fontSize-2xl: clamp(2rem, 2rem + 1vw, 3rem);
  --fontSize-xl: clamp(1.75rem, 1.75rem + 0.5vw, 2.375rem);
  --fontSize-large: clamp(1.375rem, 2vmin, 1.75rem);
  --fontSize-copy: clamp(1rem, 1.8vmin, 1.125rem);
  --fontSize-base: 1rem;

  --fontSize-small: 0.875rem;
  --fontSize-tiny: 0.75rem;

  --lineHeight: 1.4;
  --lineHeightTitle: 1.3;

}

h1 {
  font-size: var(--fontSize-2xl);
  line-height: var(--lineHeightTitle);
  font-weight: var(--fontWeight-bold);
}
h2 {
  font-size: var(--fontSize-xl);
  line-height: var(--lineHeightTitle);
  font-weight: var(--fontWeight-bold);
}
h3 {
  font-size: var(--fontSize-large);
  line-height: var(--lineHeightTitle);
  font-weight: var(--fontWeight-bold);
}
h4 {
  font-size: var(--fontSize-large);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-medium);
}
h5 {
  font-size: var(--fontSize-copy);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-bold);
}
h6 {
  font-size: var(--fontSize-copy);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-medium);
}

ul {
  padding: var(--defaultPadding-horizontal);
  display: grid;
  gap: var(--spacing);
}

li {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-light);
  list-style: square;
  &::marker {
    color: var(--accentColor);
  }
}


small:not([class]) {
  font-size: var(--fontSize-small);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-light);
}

pre:not([class]) {
  background-color: var(--backgroundColorSecondary);
  border-radius: 4px;
  padding: 0.15em;
  display: inline-block;
}

p:not([class]) {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-light);
}

strong {
  font-weight: var(--fontWeight-medium);
}

.fontSize-hero {
  font-size: var(--fontSize-hero);
  line-height: var(--lineHeightTitle);
}

.fontSize-2xl {
  font-size: var(--fontSize-2xl);
  line-height: var(--lineHeightTitle);
}

.fontSize-xl {
  font-size: var(--fontSize-xl);
  line-height: var(--lineHeightTitle);
}

.fontSize-large {
  font-size: var(--fontSize-large);
  line-height: var(--lineHeight);
}

.fontSize-copy {
  font-size: var(--fontSize-copy);
  line-height: var(--lineHeight);
}

.fontSize-base {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
}

.fontSize-small {
  font-size: var(--fontSize-small);
  line-height: var(--lineHeight);
}

.fontSize-tiny {
  font-size: var(--fontSize-tiny);
  line-height: var(--lineHeight);
}

.fontWeight-bold {
  font-weight: var(--fontWeight-bold);
}

.fontWeight-medium {
  font-weight: var(--fontWeight-medium);
}

.fontWeight-light {
  font-weight: var(--fontWeight-light);
}



.blx-Copy {
  --titleFont: var(--titleWeight) var(--titleFontSize)/var(--titleLineHeight) var(--fontFamily);
  --captionFont: var(--fontWeight-light) var(--captionFontSize,18px)/var(--captionLineHeight,1.555555556) var(--fontFamily);
  --bodyFont: var(--fontWeight-light) var(--bodyFontSize,18px)/var(--bodyLineHeight,1.555555556) var(--fontFamily);

  --largeSpacing: calc(var(--spacing) * 2);
  --paragraphSpacing: calc(var(--spacing) * 1);


}

.blx-Copy.-section {
  --titleWeight: var(--fontWeight-bold);
  --titleFontSize: var(--fontSize-xl);
  --titleLineHeight: 1.4;

  --captionFontSize: 20px;

  --bodyFontSize: 1rem;
  --bodyLineHeight: 1.4;
}

.blx-Copy.-modal {
  --titleWeight: var(--fontWeight-bold);
  --titleFontSize: var(--fontSize-large);
  --titleLineHeight: 1.4;

  --bodyFontSize: var(--fontSize-base);
  --bodyLineHeight: 1.4;
}

.blx-Copy.-large {
  --bodyFontSize: var(--fontSize-copy);
}

.blx-Copy__body {
  font: var(--bodyFont);
  color: var(--textColor);

  & > * + * {
    margin-top: var(--largeSpacing);
  }

  & > p + p {
    margin-top: var(--paragraphSpacing);
  }
}

.blx-Copy__title {
  font: var(--titleFont);
  color: var(--textColor);
}

.blx-Copy__caption {
  font: var(--captionFont);
  text-decoration: underline;
  /* margin-bottom: var(--spacing-2); */
  text-underline-offset: 0.1em;
  text-decoration-color: var(--accentColor);
  text-underline-offset: 0.2em;
}