:root {
  --fontFamily: 'Moderat', sans-serif;

  --fontWeight-bold: 700;
  --fontWeight-medium: 500;
  --fontWeight-light: 300;

  --ratio: 1.4;
  --ratio-small: 1.25;



  --sMin-5: calc(var(--sMin-4) / var(--ratio-small));
  --sMin-4: calc(var(--sMin-3) / var(--ratio-small));
  --sMin-3: calc(var(--sMin-2) / var(--ratio-small));
  --sMin-2: calc(var(--sMin-1) / var(--ratio-small));
  --sMin-1: calc(var(--sMin0) / var(--ratio-small));
  --sMin0: 1rem;
  --sMin1: calc(var(--sMin0) * var(--ratio-small));
  --sMin2: calc(var(--sMin1) * var(--ratio-small));
  --sMin3: calc(var(--sMin2) * var(--ratio-small));
  --sMin4: calc(var(--sMin3) * var(--ratio-small));
  --sMin5: calc(var(--sMin4) * var(--ratio-small));

  --sMax-5: calc(var(--sMax-4) / var(--ratio));
  --sMax-4: calc(var(--sMax-3) / var(--ratio));
  --sMax-3: calc(var(--sMax-2) / var(--ratio));
  --sMax-2: calc(var(--sMax-1) / var(--ratio));
  --sMax-1: calc(var(--sMax0) / var(--ratio));
  --sMax0: 1rem;
  --sMax1: calc(var(--sMax0) * var(--ratio));
  --sMax2: calc(var(--sMax1) * var(--ratio));
  --sMax3: calc(var(--sMax2) * var(--ratio));
  --sMax4: calc(var(--sMax3) * var(--ratio));
  --sMax5: calc(var(--sMax4) * var(--ratio));


  --s-5: clamp(var(--sMin-4), var(--sMin-4) + 0.4vmin, var(--sMax-4));
  --s-4: clamp(var(--sMin-4), var(--sMin-4) + 0.4vmin, var(--sMax-4));
  --s-3: clamp(var(--sMin-3), var(--sMin-3) + 0.4vmin, var(--sMax-3));
  --s-2: var(--sMin-2);
  --s-1: var(--sMin-1);
  --s0: 1rem;
  --s1: clamp(var(--sMin1), var(--sMin1) - calc(var(--sMin1) * 0.05) + 0.25vmin, var(--sMax1));
  --s2: clamp(var(--sMin2), var(--sMin2) - calc(var(--sMin2) * 0.1) + 0.75vmin, var(--sMax2));
  --s3: clamp(var(--sMin3), var(--sMin3) - calc(var(--sMin2) * 0.2) + 1.5vmin, var(--sMax3));
  --s4: clamp(var(--sMin4), var(--sMin4)  - calc(var(--sMin2) * 0.4) + 3vmin, var(--sMax4));
  --s5: clamp(var(--sMin5), var(--sMin5)  - calc(var(--sMin2) * 0.8) + 6vmin, var(--sMax5));

  --fontSize-hero: var(--s4);
  --fontSize-2xl: var(--s3);
  --fontSize-xl: var(--s2);
  --fontSize-large: var(--s1);

  --fontSize-base: 1rem;

  --fontSize-small: var(--s-1);
  --fontSize-tiny: var(--s-2);

  --lineHeight: var(--ratio);
  --lineHeightTitle: var(--ratio-small);
}

h1 {
  font-size: var(--fontSize-2xl);
  line-height: var(--lineHeightTitle);
  font-weight: var(--fontWeight-bold);
}
h2 {
  font-size: var(--fontSize-xl);
  line-height: var(--lineHeightTitle);
  font-weight: var(--fontWeight-bold);
}
h3 {
  font-size: var(--fontSize-large);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-bold);
}
h4 {
  font-size: var(--fontSize-large);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-medium);
}
h5 {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-bold);
}
h6 {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-medium);
}

ul {
  padding: var(--defaultPadding-horizontal);
  display: grid;
  gap: var(--spacing);
}

li {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-light);
  list-style: square;
  &::marker {
    color: var(--accentColor);
  }
}


small:not([class]) {
  font-size: var(--fontSize-small);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-light);
}

pre:not([class]) {
  background-color: var(--backgroundColorSecondary);
  border-radius: 4px;
  padding: 0.15em;
  display: inline-block;
}

p:not([class]) {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
  font-weight: var(--fontWeight-light);
}

strong {
  font-weight: var(--fontWeight-medium);
}

.fontSize-hero {
  font-size: var(--fontSize-hero);
  line-height: var(--lineHeightTitle);
}

.fontSize-2xl {
  font-size: var(--fontSize-2xl);
  line-height: var(--lineHeightTitle);
}

.fontSize-xl {
  font-size: var(--fontSize-xl);
  line-height: var(--lineHeightTitle);
}

.fontSize-large {
  font-size: var(--fontSize-large);
  line-height: var(--lineHeight);
}

.fontSize-base {
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight);
}

.fontSize-small {
  font-size: var(--fontSize-small);
  line-height: var(--lineHeight);
}

.fontSize-tiny {
  font-size: var(--fontSize-tiny);
  line-height: var(--lineHeight);
}

.fontWeight-bold {
  font-weight: var(--fontWeight-bold);
}

.fontWeight-medium {
  font-weight: var(--fontWeight-medium);
}

.fontWeight-light {
  font-weight: var(--fontWeight-light);
}



.blx-Copy {
  --titleFont: var(--titleWeight) var(--titleFontSize)/var(--titleLineHeight) var(--fontFamily);
  --captionFont: var(--fontWeight-light) var(--captionFontSize,18px)/var(--captionLineHeight,1.555555556) var(--fontFamily);
  --bodyFont: var(--fontWeight-light) var(--bodyFontSize,18px)/var(--bodyLineHeight,1.555555556) var(--fontFamily);

  --largeSpacing: calc(var(--spacing) * 2);
  --paragraphSpacing: calc(var(--spacing) * 1);


}

.blx-Copy.-section {
  --titleWeight: var(--fontWeight-bold);
  --titleFontSize: var(--fontSize-xl);
  --titleLineHeight: 1.4;

  --captionFontSize: 20px;

  --bodyFontSize: 1rem;
  --bodyLineHeight: 1.4;
}

.blx-Copy.-modal {
  --titleWeight: var(--fontWeight-bold);
  --titleFontSize: var(--fontSize-large);
  --titleLineHeight: 1.4;

  --bodyFontSize: var(--fontSize-base);
  --bodyLineHeight: 1.4;
}

.blx-Copy.-small {
  --bodyFontSize: 16px;
}

.blx-Copy__body {
  font: var(--bodyFont);
  color: var(--text1);

  & > * + * {
    margin-top: var(--largeSpacing);
  }

  & > p + p {
    margin-top: var(--paragraphSpacing);
  }
}

.blx-Copy__title {
  font: var(--titleFont);
  color: var(--text1);
}

.blx-Copy__caption {
  font: var(--captionFont);
  color: var(--text1);
  text-decoration: underline;
  /* margin-bottom: var(--spacing-2); */
  text-underline-offset: 0.1em;
  text-decoration-color: var(--brand1);
  text-underline-offset: 0.2em;
}