@import "./_partials/_reset.css";
@import "./_partials/_colors.css";
@import "./_partials/_breakpoints.css";
@import "./_partials/_typography.css";
@import "./_partials/_layout.css";
@import "./_partials/_shadows.css";
@import "./_partials/_states.css";

@import "./_partials/_buttons.css";
@import "./_partials/_inputs.css";
@import "./_partials/_modal.css";
@import "./_partials/_card.css";
@import "./_partials/_carousel.css";

html {
  font-family: 'Moderat', sans-serif;
  font-size: 16px;
  font-weight: 300;

  background-color: white;
}

:focus, .default-focus:focus, button:focus {
  outline-offset: .75ch;
  outline: 1px solid var(--textColorSecondary);
  border-radius: var(--borderRadius-small);
}

:focus:not(:focus-visible), .default-focus:focus:not(:focus-visible), button:focus:not(:focus-visible) {
  outline: none;
  borderRadius: inherit;
}

main {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}


.defaults {
  --ratio: 1.4;

  --buttonFontSize: 1rem;
  --buttonLineHeight: 1;

  --inputFontSize: 1rem;
  --inputLineHeight: 1.4;

  --focusShadowSpread: 0 0 0 1px;

  /* optional */
  --inputMaxWidth: 32em;
  --inputFontSize: 1rem;
  --inputLabelSize: 0.875rem;
  --padding: 1rem;
  --spacing: 0.5rem;

  --borderRadius-small: 2px;
  --borderRadius: 4px;
  --borderRadius-large: 6px;

  --sectionPadding: calc(var(--spacing) * 8);

  --containerPadding: calc(var(--spacing) * 2);
  --containerMaxWidth: 1160px;

  --defaultPadding-horizontal: calc(var(--spacing) * 2);
  --defaultPadding-vertical: calc(var(--defaultPadding-horizontal) * 0.75);

  --contentPadding: var(--defaultPadding-vertical) var(--defaultPadding-horizontal);
}


@media (--bp-small) {
  .defaults {
    --sectionPadding: calc(var(--spacing) * 15);
    --defaultPadding-horizontal: calc(var(--spacing) * 4);
  }
}


/* SPECIAL BUTTON */

.blx-btn-pageLink {
  text-decoration: none;
}

.blx-btn-pageLink blx-icon {
  transition: transform 0.15s;
}
.blx-btn-pageLink:hover blx-icon {
  transform: translateX(var(--spacing));
}

/* END ICON BUTTON */

/* LINKS */

a,
.blx-link {
  text-decoration: underline;
  font-weight: 500;
  text-underline-offset: 0.1em;
  color: var(--linkColor);
}

a:hover,
.blx-link:hover {
  color: var(--linkHoverColor);
}

/* END LINKS */


/* ??? */

.blx-hr {
  border-top: 1px solid #0a2540;
  width: 100%;
}
