@import "./_partials/_reset.css";
@import "./_partials/_colors.css";
@import "./_partials/_typography.css";
@import "./_partials/_layout.css";
@import "./_partials/_shadows.css";

@import "./_partials/_buttons.css";
@import "./_partials/_modal.css";

html {
  font-family: 'Moderat', sans-serif;
  font-size: 16px;
  font-weight: 300;

  background-color: white;
}

:focus:not(:focus-visible) {
  outline: none;
}

main {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}


.defaults {
  --ratio: 1.4;

  --buttonFontSize: 1rem;
  --buttonLineHeight: 1;

  --inputFontSize: 1rem;
  --inputLineHeight: 1.4;

  --focusShadowSpread: 0 0 0 1px;

  /* optional */
  --inputMaxWidth: 32em;
  --inputFontSize: 1rem;
  --inputLabelSize: 0.875rem;
  --padding: 1rem;
  --spacing: 0.5rem;

  --borderRadius: 4px;

  --sectionPadding: calc(var(--spacing) * 8);

  --containerPadding: calc(var(--spacing) * 2);
  --containerMaxWidth: 1160px;

  --contentPadding: calc(var(--spacing) * 2);
}

@media screen and (min-width: 768px) {
  .defaults {
    --containerPadding: calc(var(--spacing) * 4);
    --sectionPadding: calc(var(--spacing) * 15);
  }
}




/* --paddingLeft: var(--columnPaddingNormal);
--paddingRight: var(--columnPaddingMedium);
--headerPaddingLeft: var(--paddingLeft);
--headerPaddingRight: var(--paddingRight);
--headerMaxWidth: var(--copyMaxWidth);
--bodyPaddingLeft: var(--paddingLeft);
--bodyPaddingRight: var(--paddingRight);
--bodyMaxWidth: var(--copyMaxWidth);
--footerPaddingLeft: var(--paddingLeft);
--footerPaddingRight: var(--paddingLeft);
--footerRowGap: var(--rowGapMedium);
--ctaSpacing: 16px; */

/* --titleFont: var(--titleWeight) var(--titleFontSize)/var(--titleLineHeight) var(--fontFamily);
--captionFont: var(--fontWeightBold) var(--captionFontSize,18px)/var(--captionLineHeight,1.555555556) var(--fontFamily);
--bodyFont: var(--fontWeightNormal) var(--bodyFontSize,18px)/var(--bodyLineHeight,1.555555556) var(--fontFamily);
letter-spacing: .2px; */

/* Typography */


/* end typography */

/* buttons */



/* SPECIAL BUTTON */

.blx-btn-pageLink {
  text-decoration: none;
}

.blx-btn-pageLink blx-icon {
  transition: transform 0.15s;
}
.blx-btn-pageLink:hover blx-icon {
  transform: translateX(var(--spacing));
}

/* END ICON BUTTON */

/* LINKS */

a,
.blx-link {
  text-decoration: underline;
  font-weight: 500;
  text-underline-offset: 0.1em;
  color: var(--linkColor);
}

a:hover,
.blx-link:hover {
  color: var(--linkHoverColor);
}

/* END LINKS */


/* ??? */

.blx-hr {
  border-top: 1px solid #0a2540;
  width: 100%;
}
