.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.sidebar, .main {
  padding: calc(var(--spacing) * 4);
}

.sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  position: relative;
  border-right: 2px solid var(--textColor);
  background-color: var(--inputBackground);
}

.main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 66%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.carousel-example-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
