:host {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

[data-target="blx-select-box.container"] {
  position: relative;
}

[data-target="blx-select-box.list"] {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;

  &.-open {
    display: block;
  }
}


[data-targets="blx-select-box.options"] {
  display: block;
  cursor: pointer;
}

[data-is-visible="true"] {
  display: block;
}

[data-is-visible="false"] {
  display: none;
}
